name: Build Conda Package Linux

on: [ push ]

jobs:
  build_and_upload:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
      - name: Install dependencies Linux
        run: |
          sudo apt-get install -y gcc-multilib g++-multilib
      - name: Install Conda Build
        run: |
          conda config --append channels conda-forge
          conda install -n base -c conda-forge mamba
          mamba install -c conda-forge boa
          mamba install -c anaconda anaconda
      - name: Build conda
        run: |
          cd conda/oskar
          conda mambabuild .
      - name: Publish to Conda Linux
        shell: bash -l {0}
        run: |
          conda activate base
          anaconda -t ${{ secrets.ANACONDA_SECRET }} upload /usr/share/miniconda/conda-bld/linux-64/oskar-*.tar.bz2 --force

  install_and_test:
    needs: build_and_upload
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
      - name: Install Package
        shell: bash -l {0}
        run: |
          conda activate base
          conda config --append channels conda-forge
          conda install -c i4ds oskar
